<div class="container">
	<div class="main-container profile">
		<img src=<%= @photographer.image %> alt="">
		<h3><%= @photographer.name %></h3>
		<h5><%= @photographer.email %></h5>
		<%= form_for @photographer do |p| %>
		<div class="user-location">
			<h5>Your Address</h5>
			<%= p.text_field :address, id: "address", placeholder: "Address" %>
			<%= p.text_field :city, id: "city", placeholder: "City" %>
			<%= p.text_field :state, id: "state", placeholder: "State" %>
			<%= p.text_field :zip, id: "zip", placeholder: "ZIP", maxlength: "5", pattern: "[0-9]*" %>
		</div>
		<div class="camera">
			<h5>What camera are you using?</h5>
			<input type="text" name="" value="" placeholder="camera equipment">
		</div>
		<input type="textarea" name="" value="" placeholder="Tell us about you as a photographer">
		<input type="text" name="" value="" placeholder="One random fact about you">
		<%= p.submit "Save Profile" %>
		<%end%>
	</div>
</div>

<script>

$("#zip").keyup(function() {
  var el = $(this);

  if ((el.val().length == 5) && $.isNumeric(el.val())) {
   
	    $.ajax({
	  url: "http://zip.elevenbasetwo.com",
	  cache: false,
	  dataType: "json",
	  type: "GET",
	  data: "zip=" + el.val(),
	  success: function(result, success) {

	    $("#city").val(result.city); /* Fill the data */
	    $("#state").val(result.state);

	    $("#address").focus(); /* Put cursor where they need it */

	  }

	});
  }

})
</script>