<% content_for :head do %>
  <title>Create a New Photographer Account</title>
<% end %>

<div id="create_content">
  <div class="create_title">
    Create a New Photographer Account
  </div>
  <%= form_for @photog, :as => :photographer, :url => "/new_photographer", :method => :post do |f| %>
    <div class="username_box">
      <%= text_field_tag :username, params[:username], :placeholder => "username", class: "username_field text_field" %>
      <%= image_tag ('usernameIcon.png'), class: 'auth_icon' %>
    </div>
    <%= show_field_error(@photog, :username) %>

    <div class="email_box">
      <%= text_field_tag :email, params[:email], :placeholder => "email address", class: "email_field text_field" %>
      <%= image_tag ('emailIcon.png'), class: 'auth_icon' %>
    </div>
    <%= show_field_error(@photog, :email) %>

    <div class="password_box">
      <%= password_field_tag :password, params[:password], :placeholder => "password", class: "password_field text_field" %>
      <%= image_tag ('lockIcon.png'), class: 'auth_icon' %>
    </div>
    <%= show_field_error(@photog, :password) %>

    <div class="password_box">
      <%= password_field_tag :password_confirmation, params[:password], :placeholder => "confirm password", class: "password_field text_field" %>
      <%= image_tag ('lockIcon.png'), class: 'auth_icon' %>
    </div>
    <%= show_field_error(@photog, :password_confirmation) %>
    
    <div class="auth_create">
      <%= submit_tag "Create Account", class: "create_button" %>
    </div>

  <% end %>
</div>