<div class="container">
	<div class="main-container profile">
		<div class="profile-header">
			<img src=<%= @photographer.image %> alt="">
			<h3><%= @photographer.name %></h3>
			<h5><%= @photographer.email %></h5>
			<a>Santa Monica, CA</a>
		</div>
		
		<% if @photographer == current_user %>
		<%= button_tag "Available", class: "availability", id: @photographer.available %>
		<div class="incoming-requests">
			<% if @photographer.available %>
			<% @reservations.each do |r| %>
				<div class="notification">
					<div class="customer-info">
						<img src=<%= r.customer.image %> alt="">
						<div class="customer-info-center">
							<h3><%= r.customer.name %></h3>
							<i class="ion-navigate"></i><a><%= r.name %></a>
						</div>
					</div>
					<div class="request-response">
						<%= button_tag "Accept", class: "accept", id: r.lat+","+r.lng+",#{r.id}" %>
						<%= button_tag "Decline", class: "decline", id: r.lat+","+r.lng+",#{r.id}" %>
					</div>
				</div>
			<%end%>
			<%end%>
		</div>
		<%end%>

		<div class="camera">
			<%= @photographer.camera %>
		</div>
		<div class="bio"><%= @photographer.bio %></div>
		<div class="fact"><%= @photographer.fact %></div>
		<div class="profile-footer">
			<%= link_to "Edit Profile", edit_photographer_url %>
		</div>
	</div>
</div>

<script>
  $(function(){
    $(".accept").click(function(){
    	var id = this.id;
      $.post('/photographers/accept', { accept: id }, function(data,status){
      	location.reload;
      });
    });
    $(".availability").click(function(){
    	var available = this.id;
      $.post('/photographers/available', { available: available }, function(data,status){
      	if(data.available == true){
      		$(".availability").css('background-color', '#0066cb');
      	}
      	else {
      	    $(".availability").css('background-color', 'red');
      	}
      });
    });
  });
</script>
