<div class="container">
	<div class="main-container profile">
		<div class="profile-header">
			<img src=<%= @photographer.image %> alt="">
			<h3><%= @photographer.name %></h3>
			<h5><%= @photographer.email %></h5>
			<a>Santa Monica, CA</a>
		</div>
		
		<div class="incoming-requests">
			<% @reservations.each do |r| %>
				<% #if r.photographer == nil %>
				<div class="notification">
					<div class="customer-info">
						<img src=<%= r.customer.image %> alt="">
						<h3><%= r.customer.name %></h3>
						<a><%= r.name %></a>
						<i class="ion-navigate"></i><a>2.0 mi</a>
					</div>
					<div class="request-response">
						<%= button_tag "Accept", class: "accept", id: r.lat+","+r.lng+",#{r.id}" %>
						<%= button_tag "Decline", class: "decline", id: r.lat+","+r.lng+",#{r.id}" %>
					</div>
				</div>
				<%#end%>
			<%end%>
		</div>

		<div class="camera">
			<%= @photographer.camera %>
		</div>
		<div class="bio"><%= @photographer.bio %></div>
		<div class="fact"><%= @photographer.fact %></div>
		<%= link_to "Edit Profile", edit_photographer_url %>
	</div>
</div>

<script>
  $(function(){
    $(".accept").click(function(){
    	var id = this.id;
    	// alert(id);
      $.post('/photographers/accept', { accept: id }, function(data,status){
      	$(this).hide;
      });
    });
  });
</script>
